@page "/"
@using WebApp.Components
@using WebApp.Services.Interfaces
@using WebApp.Models
@inject ITeamService TeamService
@inject IPlayerService PlayerService

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <TeamSelector 
                teamsList="@teams" 
                OnTeamIdSelected="UpdateSelection" 
                OnCreateRequest="ShowTeamCreateModal" />
        </div>
        <div class="col-6">
            <div class="row">
                <TeamDetailsCard
                    selectedTeam="@team"
                    OnEditRequest="ShowTeamUpdateModal" />
            </div>
            <div class="row mt-3">
                <h3>Información de jugadores</h3>
                <PlayerListCard
                    PlayersList="@players"
                    SelectedIdPlayer="UpdatePlayerSelection"
                    OnAddPlayerRequest="ShowPlayerCreateModal" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <StatisticsViewer
            OriginalPlayersList="@allplayers"
            OriginalTeamsList="@teams" />
    </div>
</div>
<TeamFormModal 
    isVisible="@showModal" 
    teamToEdit="@teamToEdit"
    onClose="CloseModal" 
    OnSave="SaveTeamChanges" />

<PlayerFormModal
    TeamsList="@teams"
    isVisible="@showPlayerModal"
    playerToEdit="@playerToEdit"
    onClose="ClosePlayerModal"
    onSave="SavePlayerChanges" />    

@code {
    private List<Team>? teams;
    private Team? team;
    private bool showModal = false;
    private bool showPlayerModal = false;
    private Team? teamToEdit;
    private Player? playerToEdit;
    private Player? player;
    private List<Player>? players;
    private List<Player>? allplayers;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        await LoadData();
    }

    private async Task LoadData()
    {
        teams = (await TeamService.GetAllTeamsAsync()).ToList();
        allplayers = (await PlayerService.GetAllPlayersAsync()).ToList();
    }

    private async Task UpdateSelection(int teamId)
    {
        team = teams?.FirstOrDefault(t => t.Id == teamId);
        players = (await PlayerService.GetAllPlayersByTeam(teamId)).ToList();
    }

    private void UpdatePlayerSelection(int playerId)
    {
        player = players?.FirstOrDefault(t => t.Id == playerId);
        ShowPlayerUpdateModal();
    }

    private void ShowTeamCreateModal()
    {
        teamToEdit = null;
        showModal = true;
    }

    private void ShowTeamUpdateModal()
    {
        teamToEdit = team;
        showModal = true;
    }

        private void ShowPlayerCreateModal()
    {
        playerToEdit = new Player(){ TeamId = team?.Id ?? 0 };
        showPlayerModal = true;
    }

    private void ShowPlayerUpdateModal()
    {
        playerToEdit = player;
        playerToEdit.TeamId = team?.Id ?? 0;
        showPlayerModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private void ClosePlayerModal()
    {
        showPlayerModal = false;
    }

    private async Task SaveTeamChanges(Team teamForm)
    {
        if (teamForm.Id == 0)
        {
            await TeamService.CreateTeamAsync(teamForm);
        }
        else
        {
            await TeamService.UpdateTeamAsync(teamForm);
        }

        await LoadData(); 
        showModal = false;
    }

    private async Task SavePlayerChanges(Player playerForm)
    {
        if (playerForm.Id == 0)
        {
            await PlayerService.CreatePlayerAsync(playerForm);
        }
        else
        {
            await PlayerService.UpdatePlayerAsync(playerForm);
        }

        if (team != null)
        {
            players = (await PlayerService.GetAllPlayersByTeam(team.Id)).ToList();
        }

        await LoadData(); 
        showPlayerModal = false;
    }
}